.main-button {
  background-color: var(--parkleys-color-5);
  border-radius: var(--parkleys-third-br);
  padding: var(--parkleys-padding-xxs) var(--parkleys-padding-xs);
  font-size: var(--parkleys-font-size-m);
  color: var(--parkleys-color-1);
  border-width: 2px;
  border-color: var(--parkleys-color-4);
  cursor: pointer;
}

.button-toggle {
  border-color: var(--parkleys-color-4);
  cursor: pointer;
}
