#home {
  min-height: 90svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
#home h2 {
  color: var(--rtc-color-text);
}

.detailAllComments img:hover {
  transform: scale(5, 5);
}
