footer {
  top: 0;
  left: 0;

  height: fit-content;

  z-index: 99;

  background-color: var(--rtc-color-footer);
  color: var(--rtc-font-color-h1-impact);
  background-image: url('/assets/static/Footer.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: fit-content;
}
