section.ParentCommentsCointainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: var(--parkleys-phone-width);
  max-width: var(--parkleys-tablet-width);
  /* width: 100%; */
}

ul.commentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  gap: var(--parkleys-gap-s);
}

li.comment {
  /* background-color: aqua; */
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: var(--parkleys-gap-s); */
  padding-right: var(--parkleys-padding-s);
  padding-left: var(--parkleys-padding-s);
  border-radius: 0;
  max-width: var(--parkleys-phone-width);
  /* width: 100%; */
  border-top-style: solid;
  border-top-width: var(--parkleys-border-large);
  border-top-color: var(--parkleys-bg-header);
  border-bottom-style: solid;
  border-bottom-width: var(--parkleys-border-large);
  border-bottom-color: var(--parkleys-color-footer);
}
div.comment-box {
  border: var(--parkleys-border-medium) solid
    var(--parkleys-color-border-comment);
  padding: var(--parkleys-padding-xs);
  max-width: var(--parkleys-phone-width);
  width: 100%;
  background-color: var(--parkleys-bg-primary);
  /* align-items: center; */
}
div.comment-box:has(> div.small-boxes) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* padding: var(--parkleys-padding-s); */
}
#home figure {
  border: var(--parkleys-border-medium) solid
    var(--parkleys-color-border-comment);
  padding: var(--parkleys-padding-xs);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  background-color: var(--parkleys-bg-primary);
}

div.small-boxes {
  align-items: center;
  padding: 0;
}
p.who {
  text-align: right;
  font-size: x-small;
}
p.type-comment {
  text-align: left;
  font-size: x-small;
}
p.resolved {
  text-align: center;
  font-size: x-small;
}

li.comment img {
  gap: var(--parkleys-gap-s);
  /* margin: var(--parkleys-padding-s); */
  max-width: 20%;
  border-radius: var(--parkleys-xlarge-br);
  object-fit: contain;
}
/* ul.comment figure {
} */
figcaption {
  color: black;
}
ul.comment li {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--parkleys-gap-s);
  padding: var(--parkleys-padding-s);
}
